body{
    background-color: rgb(66, 64, 64);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.cabecera{
    margin: 0 auto;
    font-size: 2.2rem;
}

.container{
    margin: 0 auto;
    width: 80%;
}

.cabecera-container{
    background-color: rgb(236, 252, 200);
    border: 2px solid rgb(243, 160, 177);
    color: rgb(228, 82, 131);
    font-size: 3rem;
    width: 100%;
}

.image-container{
    padding-left: 15%;
}

img{
    padding-top: 5%;
    width: 50%;
}

.post{
    background-color: whitesmoke;
    border: 2px solid rgb(241, 105, 230);
    color: rgba(109, 124, 139, 0.876);
    font-family: 1rem;
    width: 100%;
}

.footer{
    background-color: whitesmoke;
    border: 2px solid rgb(241, 105, 230);
    color: rgba(109, 124, 139, 0.876);
    font-size: 0.95rem;
    width: 100%
}